examples/basic_flow.json
[{"id":"afaf00fb.f0cd9","type":"debug","z":"95eeca75.798fe8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"result.className","statusType":"msg","x":1110,"y":240,"wires":[]},{"id":"e337ea47.876c48","type":"http request","z":"95eeca75.798fe8","name":"Load wav fragment","method":"GET","ret":"bin","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":240,"wires":[["f0a64342.df861"]]},{"id":"a094a0d0.44439","type":"inject","z":"95eeca75.798fe8","name":"Baby","props":[{"p":"url","v":"http://cd.textfiles.com/mmplatinum/SOUNDS/WAV/MOREWAV/BABYCRY2.WAV","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":310,"y":240,"wires":[["e337ea47.876c48"]]},{"id":"ebc9aec1.4b0d4","type":"inject","z":"95eeca75.798fe8","name":"Glass","props":[{"p":"url","v":"http://game.ellco.ru/cstrike/sound/debris/glass3.wav","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":310,"y":280,"wires":[["e337ea47.876c48"]]},{"id":"7b15d8ef.50d238","type":"inject","z":"95eeca75.798fe8","name":"Yell","props":[{"p":"url","v":"http://www.lifesatwitch.com/sounds/hey.wav","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":310,"y":320,"wires":[["e337ea47.876c48"]]},{"id":"7bf27d75.dcd654","type":"inject","z":"95eeca75.798fe8","name":"Car alarm","props":[{"p":"url","v":"http://cd.textfiles.com/fantaziasampler/WAV/CARALARM.WAV","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":320,"y":360,"wires":[["e337ea47.876c48"]]},{"id":"2f74fde1.f77d52","type":"inject","z":"95eeca75.798fe8","name":"Doorbell","props":[{"p":"url","v":"http://www.yuckles.com/dogsounds/doorbell.wav","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":320,"y":400,"wires":[["e337ea47.876c48"]]},{"id":"6bf16f3d.ef3f6","type":"comment","z":"95eeca75.798fe8","name":"https://www.findsounds.com/","info":"","x":520,"y":200,"wires":[]},{"id":"76652e71.216a4","type":"tfjs-yamnet-detector","z":"95eeca75.798fe8","inputField":"payload","outputField":"result","inputFieldType":"msg","outputFieldType":"msg","useFirst":true,"autoConversion":true,"name":"","x":920,"y":240,"wires":[["afaf00fb.f0cd9","7ee548c1.eff9c8"]]},{"id":"f0a64342.df861","type":"change","z":"95eeca75.798fe8","name":"Cleanup msg","rules":[{"t":"delete","p":"headers","pt":"msg"},{"t":"delete","p":"url","pt":"msg"},{"t":"delete","p":"responseUrl","pt":"msg"},{"t":"delete","p":"statusCode","pt":"msg"},{"t":"delete","p":"redirectList","pt":"msg"},{"t":"delete","p":"responseCookies","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":240,"wires":[["76652e71.216a4"]]}]
